<style>
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
</style>

{% for image in site.img.gallery %}

<div class="gallery">
  <a target="_blank" href="img/gallery/{{ image.title }}.jpeg">
    <img src="img/gallery/{{ image.title }}.jpeg">
  </a>
  <div class="desc">{{ image.title }}</div>
</div>

{% endfor %}