 <!-- About Me Section -->
    <section class="success" id="massage">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img src="/img/massage.png" style="max-width: 300px; margin-bottom: 50px; border-radius: 5%">

                    <h2>Massage</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row" style="width: 100%; text-align: center; margin: 0; padding: 0">
                <div class="col-lg-4 col-lg-offset-2" style="width: 100%; margin: 0; padding: 0;">
                 <p>In the life we are living today, things are going fast, too fast. Yoga really helps you to step back and allow you to breathe, to see the world at a slow pace, allowing the mind to let go and create a balance between the body and the mind. I believe it is important to take care of your health in general, with the food you eat, the amount of sleep you get, etc. Massages will help unwind the tension from your body and help you feel much better, physically and psychologically. <br><br>

I have been a massage therapist for about 12 years working in different Hotels Spa around the world like the Ritz Health Club in Paris, The Royal Monceau in Paris, The St Regis Bora Bora in French Polynesia, the Bali Hai in Australia, and other places like Sicily, Italy, Switzerland. I am offering different types of massages (relaxing, sports, deep tissue...) adapted to your needs and most importantly, in the comfort of your own home. If you would like to take a little pamper break for yourself or even offer it as a present for your loved ones, don't hesitate to contact me for more details.<br><br> 

£30 for 30 min<br>
£50 for 1hour<br>
£75 for 1h30<br><br>
             
                  Namaste</p>
                 
                </div>
            </div>
        </div>
    </section>
