
    <!-- Portfolio Grid Section -->
    <section id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>testimonials</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <TABLE class="testimonials">
                    <TR>
                        <TH colspan="2" align="center"><H1>George</H1></TH>
                    </TR>
                    <TR>
                        <TD valign="top"> <div> <img src="/img/testimonials/profile.png/"></div></TD>
                        <TD align="center"<p>"I was feeling very stiff and muscle weary and Alison's sports massage made a huge difference. I felt much,  much better afterwards. She's really good!"</p></TD>
                    </TR>
            </TABLE>
        </div>
    </section>
