
    <!-- Portfolio Grid Section -->
    <section id="massagetestimonials">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>testimonials</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <TABLE class="testimonials">
                    <TR>
                        <TH colspan="2" align="center"><H1>George</H1></TH>
                    </TR>
                    <TR>
                        <TD valign="top"> <div> <img src="/img/testimonials/george.png"></div></TD>
                        <TD align="center"<p>"I was feeling very stiff and muscle weary and Alison's sports massage made a huge difference. I felt much,  much better afterwards. She's really good!"</p></TD>
                    </TR>

                    <TR>
                        <TH colspan="2" align="center"><H1>Bonnie</H1></TH>
                    </TR>
                    <TR>
                        <TD valign="top"> <div> <img src="/img/testimonials/bonnie.jpeg"></div></TD>
                        <TD align="center"<p>"From the start Alison made me feel relaxed and comfortable.
                        The massage lasted over an hour.
                        We talked about any problems before so Alison could concentrate on these areas as well.
                        Massage was very relaxing,refreshing enjoyable.
                        Her attention to each muscle group was great.
                        I felt totally relaxed and exhilarated after the massage.
                        I cannot recommend Alison highly enough.
                        Also great value for the money.
                        A truly wonderful experience"</p></TD>
                    </TR>
            </TABLE>
        </div>
    </section>
