
    <!-- Portfolio Grid Section -->
    <section id="testimonials">
        <div class="container portfolio-flex-grid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>testimonials</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="portfolio-flex-row">
            <TABLE style="width:80vw">
                {% for post in site.testimonials %}
                    <TR>
                        <TH colspan="2"><H1>{{ post.title }}</H1></TH>
                    </TR>
                    <TR>
                        <TD><img src="img/testimonials/{{ post.img }}"></TD>
                        <TD><p>{{ post.description }}</p></TD> 
                    </TR>               
                {% endfor %}
            </TABLE>
            </div>
        </div>
    </section>