
    <!-- Portfolio Grid Section -->
    <section id="testimonials">
        <div class="container portfolio-flex-grid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>testimonials</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="portfolio-flex-row">
            <TABLE style="width:80vw">
                {% for post in site.testimonials %}
                    <TR>
                        <TH rowspan="2"  style="width:15vw"><img src="img/testimonials/{{ post.img }}"></TH>
                        <TH  style="width:63vw">{{ post.title }}</TH>
                    </TR>
                    <TR>
                        <TD  style="width:63vw"><p>{{ post.description }}</p></TD> 
                    </TR>               
                {% endfor %}
            </TABLE>
            </div>
        </div>
    </section>