
    <!-- Portfolio Grid Section -->
    <section id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>testimonials</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <TABLE class="testimonials">
                {% for post in site.testimonials %}
                    <TR>
                        <TH colspan="2" align="center"><H1>{{ post.title }}</H1></TH>
                    </TR>
                    <TR>
                        <TD valign="top"> <div> <img src="img/testimonials/{{ post.img }}"></div></TD>
                        <TD align="center"<p>{{ post.content }}</p></TD> 
                    </TR>               
                {% endfor %}
            </TABLE>
        </div>
    </section>