
    <!-- Portfolio Grid Section -->
    <section id="timetable">
        <div class="container portfolio-flex-grid" style="width:100%">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>timetable</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <!--<div class="portfolio-flex-row"> -->

                  <TABLE class="timetable" style="width:100%">

                        <TR style="background-color: rgb(174, 214, 241)">
                              <TH>Day</TH>
                              <TH>Time</TH>
                              <TH>Where</TH>
                              <TH>Price</TH>
                              <TH>Details</TH>
                        </TR>

                        <TR style="background-color: pink">
                              <TD>Wednesday</TD>
                              <TD>9.30am - 10.30am</TD>
                              <TD>Kingskerswell</TD>
                              <TD>£5 per class<br>£24 for 5 classes</TD>
                              <TD>Limited Spaces<br>20</TD>
                        </TR>
                        <TR style="background-color: pink">
                              <TD>Wednesday</TD>
                              <TD>5.00pm - 6.00pm</TD>
                              <TD>Kingskerswell</TD>
                              <TD>£5 per class<br>£24 for 5 classes</TD>
                              <TD>Limited Spaces<br>20</TD>
                        </TR>
                        <TR style="background-color: rgb(247, 220, 111)">
                              <TD>Wednesday</TD>
                              <TD>6.30pm - 7.30pm</TD>
                              <TD>Newton Abbot</TD>
                              <TD>£6 per class<br>£29 for 5 classes</TD>
                              <TD>Limited Spaces<br>7</TD>
                        </TR>
                        <TR style="background-color: rgb(215, 189, 226)">
                              <TD>Thursday</TD>
                              <TD>7.00am - 8.00am</TD>
                              <TD>Teignmouth</TD>
                              <TD>£6 per class<br>£29 for 5 classes</TD>
                              <TD>Limited Spaces<br>10</TD>
                        </TR>
                        <TR style="background-color: rgb(215, 189, 226)">
                              <TD>Thursday</TD>
                              <TD>9.15am - 10.15am</TD>
                              <TD>Teignmouth</TD>
                              <TD>£6 per class<br>£29 for 5 classes</TD>
                              <TD>Limited Spaces<br>10</TD>
                        </TR>
                        <TR style="background-color: rgb(174, 182, 191)">
                              <TD>Thursday</TD>
                              <TD>6.00pm - 7.00pm</TD>
                              <TD>Torquay</TD>
                              <TD>£7.50 per class<br>£36 for 5 classes</TD>
                              <TD>Limited Spaces<br>6</TD>
                        </TR>
                        <TR style="background-color: pink">
                              <TD>Saturday</TD>
                              <TD>9.00am - 10.00am</TD>
                              <TD>Kingskerswell</TD>
                              <TD>£5 per class<br>£24 for 5 classes</TD>
                              <TD>Limited Spaces<br>20</TD>
                        </TR>
                        <TR style="background-color: rgb(171, 235, 198)">
                              <TD>Sunday</TD>
                              <TD>9.30am - 10.30am</TD>
                              <TD>Kingskerswell</TD>
                              <TD>Donation</TD>
                              <TD>Weather Permitted</TD>
                        </TR>

                  </TABLE>
            <!--</div>-->
        </div>
    </section>
