
    <!-- Portfolio Grid Section -->
    <section id="timetable">
        <div class="container portfolio-flex-grid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>timetable</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="portfolio-flex-row">
             <TABLE style="width:100%;text-align:center">        
                    <TR>
                        <TH style="width:15%"><H1>Day</H1></TH>
                        <TH style="width:15%"><H1>Time</H1></TH>
                        <TH style="width:15%"><H1>Price</H1></TH>
                        <TH style="width:15%"><H1>Location</H1></TH>
                        <TH style="width:40%"><H1>Notes</H1></TH>
                    </TR>
                    
                    <TR id="kingskerswell"><H1>Kingskerswell &#x21E9</H1></TR>
                    
                    <TR class="kingskerswell">
                        <TD>Wednesday</TD>
                        <TD>9.30 AM</TD>
                        <TD>Donation</TD>
                        <TD>Playfield</TD>
                        <TD>Outdoor Yoga</TD>
                    </TR>
                    <TR class="kingskerswell">
                        <TD>Wednesday</TD>
                        <TD>6.00 PM</TD>
                        <TD>Donation</TD>
                        <TD>Playfield</TD>
                        <TD>Outdoor Yoga</TD>
                    </TR>
                    <TR class="kingskerswell">
                        <TD>Sunday</TD>
                        <TD>9.00 AM</TD>
                        <TD>Donation</TD>
                        <TD>Playfield</TD>
                        <TD>Outdoor Yoga</TD>
                    </TR>
                    <TR class="kingskerswell">
                        <TD>Sunday</TD>
                        <TD>10.15 AM</TD>
                        <TD>Donation</TD>
                        <TD>Playfield</TD>
                        <TD>Outdoor Yoga</TD>
                    </TR>  
                    
                    <TR id="teignmouth"><H1>Teignmouth &#x21E9</H1></TR>
                    
                    <TR class="teignmouth">
                        <TD>Saturday</TD>
                        <TD>10.00 AM</TD>
                        <TD>Donation</TD>
                        <TD>Eastcliff Park</TD>
                        <TD>Outdoor Yoga</TD>
                    </TR>
                    
                    <TR id="torquay"><H1>Torquay &#x21E9</H1></TR>

                    <TR class="torquay">
                        <TD>Thursday</TD>
                        <TD>6.00 PM</TD>
                        <TD>£7.50</TD>
                        <TD>Pyramids Studio</TD>
                        <TD>Limited Spaces Available - Max 6 Persons per class</TD>
                    </TR>
                </TABLE>
            </div>
        </div>
    </section>