
    <!-- Portfolio Grid Section -->
    <section id="timetable">
        <div class="container portfolio-flex-grid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>timetable</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <!--<div class="portfolio-flex-row"> -->   
                  
                  <TABLE class="timetable" style="width:100%">
                        <TR><TD colspan="5" align="center"><H1>Kingskerswell</H1></TD></TR>
                        <TR>
                              <TH>Day</TH>
                              <TH>Time</TH>
                              <TH>Price</TH>
                              <TH>Location</TH>
                              <TH>Notes</TH>
                        </TR>
                        <TR>
                              <TD>Wednesday</TD>
                              <TD>9.30 AM</TD>
                              <TD>Donation</TD>
                              <TD>Playfield</TD>
                              <TD>Outdoor Yoga</TD>
                        </TR>
                        <TR>
                              <TD>Wednesday</TD>
                              <TD>6.00 PM</TD>
                              <TD>Donation</TD>
                              <TD>Playfield</TD>
                              <TD>Outdoor Yoga</TD>
                        </TR>
                        <TR>
                              <TD>Sunday</TD>
                              <TD>9.00 AM</TD>
                              <TD>Donation</TD>
                              <TD>Playfield</TD>
                              <TD>Outdoor Yoga</TD>
                        </TR>
                        <TR>
                              <TD>Sunday</TD>
                              <TD>10.15 AM</TD>
                              <TD>Donation</TD>
                              <TD>Playfield</TD>
                              <TD>Outdoor Yoga</TD>
                        </TR>  
                  
                        <TR ><TD colspan="5" align="center"><H1>Teignmouth</H1></TD></TR>
                        <TR>
                              <TH>Day</TH>
                              <TH>Time</TH>
                              <TH>Price</TH>
                              <TH>Location</TH>
                              <TH>Notes</TH>
                        </TR>
                        <TR>
                              <TD>Saturday</TD>
                              <TD>10.00 AM</TD>
                              <TD>Donation</TD>
                              <TD>Eastcliff Park</TD>
                              <TD>Outdoor Yoga</TD>
                        </TR>
                  
                        <TR><TD colspan="5" align="center"><H1>Torquay</H1></TD></TR>
                        <TR>
                              <TH>Day</TH>
                              <TH>Time</TH>
                              <TH>Price</TH>
                              <TH>Location</TH>
                              <TH>Notes</TH>
                        </TR>
                        <TR>
                              <TD>Thursday</TD>
                              <TD>6.00 PM</TD>
                              <TD>£7.50</TD>
                              <TD>Pyramids Studio</TD>
                              <TD>Limited Spaces Available - Max 6 Persons per class</TD>
                        </TR>
                  </TABLE>
            <!--</div>-->
        </div>
    </section>